h1 {
	color: red;
	font-size: 50px;
	margin: 0;
	text-align: center;
}
ul {
	font-family: "Courier";
	font-size: 30px;
	padding: 0;
	text-align: center;
}
p {
	font-family: "Georgia";
	font-size: 20px;
}
body {
	background-color: pink;
	color: white;
	text-align: center;
	border: solid 5px black 
}
.header-title {
	font-size: 100px;
}